@media (max-width: 500px) {
  .musicContainer {
    height: inherit;
    display: none;
    align-items: center;
    -webkit-app-region: no-drag;
  }
}

.musicContainer {
  height: inherit;
  display: flex;
  align-items: center;
  -webkit-app-region: no-drag;
}
